<div class="container">
  <div class="row">
    <div class="col-md-4 m-auto p-4 my-5 shadow formBgColor">
      <h1 class="">Reset Password</h1>
      <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
        <div class="mb-4 position-relative">
          <label for="password" class="form-label">New Password</label>
          <input
            type="{{ hide }}"
            class="form-control"
            id="password"
            formControlName="newPassword"
            [ngClass]="{'is-invalid':resetPassForm.controls?.['newPassword']?.invalid && resetPassForm.controls?.['newPassword']?.touched}"
          />
          <i
            class="fa fa-{{
              hide == 'password' ? 'eye-slash' : 'eye'
            }} position-absolute"
            style="
              top: 72%;
              right: 10px;
              transform: translateY(-50%);
              cursor: pointer;
            "
            (click)="hide == 'password' ? (hide = 'text') : (hide = 'password')"
          ></i>
          <small
            *ngIf="resetPassForm.controls?.['newPassword']?.errors?.['required']"
            class="invalid-feedback text-danger position-absolute"
          >
            Password is required.
          </small>
        </div>
        <div class="mb-4 position-relative">
          <label for="conPassword" class="form-label"
            >Confirm New Password</label
          >
          <input
            type="{{ conHide }}"
            class="form-control"
            id="conPassword"
            formControlName="conNewPassword"
            [ngClass]="{'is-invalid':resetPassForm.controls?.['conNewPassword']?.invalid && resetPassForm.controls?.['conNewPassword']?.touched}"
          />
          <i
            class="fa fa-{{
              conHide == 'password' ? 'eye-slash' : 'eye'
            }} position-absolute"
            style="
              top: 72%;
              right: 10px;
              transform: translateY(-50%);
              cursor: pointer;
            "
            (click)="
              conHide == 'password'
                ? (conHide = 'text')
                : (conHide = 'password')
            "
          ></i>
          <small
            *ngIf="resetPassForm.controls?.['conNewPassword']?.errors?.['required']"
            class="invalid-feedback text-danger position-absolute"
          >
            Confirm Password is required.
          </small>
        </div>

        <button type="submit" class="btnSubmit p-2">Submit</button>
      </form>
    </div>

    <div class="loader-container" *ngIf="loading">
      <span class="loader"></span>
    </div>
  </div>
</div>
